
$screen-sm: 768px;
$screen-l: 1100px;
$screen-xl: 1400px;


$primary-color: #56d9bb;
$secondary-color: #51ddfc;

$text-color: #818181;


$success-color: #63cc82;
$error-color: #e4757a;
$warning-color: #fd7856;
$info-color: #927bc1;


$color-col-12: #80e8d1;
$color-col-8: #fd9f85;
$color-col-7: #ec9fa3;
$color-col-6: #3fabca;
$color-col-5: #88d9a0;
$color-col-4: #7ee6fd;
$color-col-3: #deb2ee;

$white: #fff;
$gray-light: #969696;


$font-nunito: 'Nunito', sans-serif !important;
