* {
	box-sizing: border-box;
}


ul {
	list-style: none;
}

.container {
	padding: 0 1.5rem;
}

@include desktop_view  {

	.container {
		max-width: $screen-l;
		margin: 0 auto;
	}
	
	p {
		line-height: 1.5;
		color: $text-color;
	}

}
